@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid gray;
  box-shadow: 2px 2px grey;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 10px;
}

.logo {
  width: 100px;
}

.card {
  width: 200px;
  height: 250px;
  border: 1px solid gray;
  margin: 10px;
  padding: 13.5px;
  box-shadow: 3px 3px grey;
}

.card > img {
  width: 100%;
}

.restaurant-lists {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-name {
  font-size: 17px;
  font-weight: 500;
  word-break: break-word;
  margin: 15px;
}

.restaurant-cuisines {
  color: #686b78;
  font-size: 13px;
  margin-top: 4px;
  margin-top: 15px;
}

.restaurant-star {
  background-color: #48c479;
  color: #fff;
  margin-top: 15px;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
  margin-left: 9px;
}
.searchButton {
  width: 77px;
  height: 36px;
  border: 1px solid #fc8019;
  background: #fc8019;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.searchButtonShimmer {
  width: 77px;
  height: 36px;
  border: 1px solid #dfdcda;
  background: #dfdcda;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.searchTerm {
  width: 13%;
  border: 3px solid #fc8019;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}
.searchTermShimmer {
  width: 13%;
  border: 3px solid #dfdcda;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #060606;
}
.LoginButton {
  color: #fff;
  text-align: center;
  background-color: #fc8019;
  border: none;
  padding: 4px 16px;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  height: 10%;
  margin-top: 27px;
  margin-right: 15px;
  border-radius: 4px;
}

.LogoutButton {
  color: #fff;
  text-align: center;
  background-color: #fc8019;
  border: none;
  padding: 4px 16px;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  height: 10%;
  margin-top: 27px;
  margin-right: 15px;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 4px;
}

li a.active {
  color: white;
  background-color: #04aa6d;
  border-radius: 4px;
}

.footerLayout {
  text-align: center;
  color: #fff;
  width: 97.9%;
  background-color: #fc8019;
  border-radius: 1px;
  margin-left: 9px;
  padding: 3px;
  box-shadow: 3px 3px grey;
}
